.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60px;
  width: 100%;
}

.title {
  font-size: 10;
  text-transform: uppercase;
} 

@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 25px;
  }
  .title {
    font-size: 11vw;
  }
} 

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search {
  width: 43%;
}

.select {
  width: 43%;
} 