.transcription{
  padding-left: 50px;
}
.span_transcription {
  margin-right: 5px;
}
.span_start_text {
  margin-right: 15px;
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}
.navbar-brand{
  font-size: 25px;
}



.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome{
  height:500px;
  width: 500px;
}

.listPage {
  margin-top: 40px;
}
.scriptPage{
  margin-top: 40px;
}

.listTitles{
  position: relative;
  height: 50px;
  width: 500px;
  text-align: start;
  border-bottom: 1px solid #000;
}
.listTitle{
  position: relative;
  top:50%;
  transform : translateY(-50%);
  margin-left: 5px;

}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


.card-radius{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.card {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}


.card__title {
  width: 100%;
  font-size: 35px;
  order: 1;
  font-weight: bold;
  text-decoration: none;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__image {
  width: 100%;
}

.card__body {
  padding: 0px 0px;
}

.card__text {
  font-size: .8rem;
  text-align:center;
  text-decoration: none;
}

.card__text2 {
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.card__list{
  margin: 20px 0px 10px 0px;
}

.table__right{
  padding-right: 40px;
}

.thick__divider{
  border: 1px solid #000;
}

.thin__divider{
  border-bottom:1px solid #bbb;
}

.formSelect{
  padding-top: 20px;
  padding-bottom: 20px;
}

.wordList{
  font-size: 23px;
}