.vscode/
# dependencies
node_modules/
# Environments
.env
venv/

# .__pycache__
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


english_script_devided_app/frontend/yarn.lock
yarn.lock