version: '3'
services:
  app:
    build: .
    container_name: app
    command: gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn/socket english_script_devided_app.wsgi:application
    volumes:
      - .:/usr/src/app
      - ./gunicorn:/run/gunicorn
    depends_on:
      - db

  db:
    image: postgres:14.2
    container_name: db
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
    ports:
      - 5432:5432

  web:
    image: nginx:1.21-alpine
    container_name: web
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/nginx/sites-enabled/English-Script-Devided-App:/etc/nginx/conf.d/default.conf
      - ./gunicorn:/run/gunicorn
      - /etc/nginx/ssl:/etc/nginx/ssl
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/www/letsencrypt:/home/www/letsencrypt

    depends_on:
      - app
