version: '3'
services:
  app:
    build: .
    command: gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn/socket english_script_devided_app.wsgi:application
    volumes:
      - .:/usr/src/app
      - ./gunicorn:/run/gunicorn
      - ./staticfiles:/usr/src/app/staticfiles
    depends_on:
      - db

  db:
    image: postgres
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
    ports:
      - 5432:5432

  web:
    image: nginx:1.21-alpine
    ports:  
      - 80:80
    volumes:
      - ./nginx.local.conf:/etc/nginx/conf.d/default.conf
      - ./gunicorn:/run/gunicorn
      - ./staticfiles:/usr/src/app/staticfiles
    depends_on:
      - app
